@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap');

    body {
       font-family: 'Barlow Condensed';
       font-size: 20px;
       color: #e9e9e9;
       background-color: #181a1b;
       text-align: center;}

    main {
        background-color: #181a1b;
        width: 800px;
        padding: 10px;
        margin: auto;
        box-shadow: 5px 5px 5px #5555552a;}
    
    h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        font-size: 38px;}

    h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 22px;
    }    
    
        p {
            align-items: center;
            text-align: justify;
            font-size: 20px;}

    img {
        box-shadow: 5px 5px 5px #5555552a;}

    span {
        font-size: 21px;
    }

    a{
        color: #941818;
    }

    #cadastro{
        font: bold 20px 'Barlow Condensed';
        background-color: #a85ac0;
        color: white;
        width: 100%;
        width: 120px;
        border-radius: 10px;
        padding: 3px;
        text-align: center;
        margin-left: auto;
        }   